/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
  }

#mainHeading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
  }

.funParagraph {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }